vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|28 Nov 2018 17:55:26 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|index.html
vti_author:SR|DALLAS-FAITH\\DallasPC
vti_modifiedby:SR|DALLAS-FAITH\\DallasPC
vti_timecreated:TR|28 Nov 2018 17:55:26 -0000
vti_cacheddtm:TX|28 Nov 2018 17:55:26 -0000
vti_filesize:IR|10790
vti_cachedlinkinfo:VX|S|data:image/svg+xml;utf8,<svg\\ xmlns="http://www.w3.org/2000/svg"><filter\\ id="g"><feColorMatrix\\ type="matrix"\\ values="0.3\\ 0.3\\ 0.3\\ 0\\ 0\\ 0.3\\ 0.3\\ 0.3\\ 0\\ 0\\ 0.3\\ 0.3\\ 0.3\\ 0\\ 0\\ 0\\ 0\\ 0\\ 1\\ 0"/></filter></svg>
vti_cachedsvcrellinks:VX|NSUS|data:image/svg+xml;utf8,<svg\\ xmlns="http://www.w3.org/2000/svg"><filter\\ id="g"><feColorMatrix\\ type="matrix"\\ values="0.3\\ 0.3\\ 0.3\\ 0\\ 0\\ 0.3\\ 0.3\\ 0.3\\ 0\\ 0\\ 0.3\\ 0.3\\ 0.3\\ 0\\ 0\\ 0\\ 0\\ 0\\ 1\\ 0"/></filter></svg>
